{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre Mim</h1>
            <span class="subheading">Isto é o que eu faço.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Papo Furado</p>
        <p>Papo Furado 2</p>
        <p>Papo Furado 3</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}