<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Titulo</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="titulo"><h1>Meu Blog</h1></div>
    </div>

    {% for post in all_posts: %}
    <div class="content">
        <div class="card ">
            <h2>{{ post.titulo }}</h2>
            <p>{{ post.subtitulo }}</p>
            <a href="{{ url_for('show_post', index=post.id) }}">Leia</a>
        </div>

    </div>
    {% endfor %}

</div>
</body>
<footer>
    <p>Made with ♥️ in Brazil.</p>
</footer>
</html>