<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Igor Esposito</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>Igor está aqui</h1>
      <h2>Sou <span class="pro">pro</span>gramador +-.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <h2>Oi.</h2>
      <p class="intro">Estudo o caminho dos dados e sigo em direção a novas possibilidades</p>
    </div>
    <hr>
    <div class="skills">
      <h2>Algumas Habilidade.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/3p50WGyUqeU5W/giphy.gif" alt="code-img">

        <h3>Estudante e Criativo</h3>
        <p>Estou aprendendo cada vez mais sobre ML e IA, porém tenho um interesse muito forte em relação a economia, a caminho da vanguarda do demilear do conhecimento.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">

        <h3>Desafios dos pequenos aos gigantes</h3>
        <p>Os desafios que já se foram e aqueles que ainda estão ainda por vim são grandes oportunidade para aquecer meu coração.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Tenta aperta!!</h2>
      <h3>Botão classudo para aperta.</h3>
      <p class="contact-message">Aperte o botão que sei que você não resistiu a ele!</p>
      <a class="btn" href="mailto:ilove@hotwings.com">AHH QUE DELICIA CARA</a>
    </div>
  </div>


  <div class="bottom-container">
  </div>
</body>

</html>
