<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
</head>
<body>
<h1>Minha Biblioteca</h1>
        {% if livros == []: %}
        <p>Biblioteca Vazia.</p>
        {% endif %}
    <ul>
        {% for livro in livros %}
        <li>
            <a href="{{ url_for('delete', id=livro.id) }}">Deletar</a>
            <li>{{livro.titulo}} - {{livro.autor}} - {{livro.avaliação}}/10</li>
            <a href="{{ url_for('delete', id=livro.id) }}">Deletar</a>
        </li>
        {% endfor %}
    </ul>
<a href="{{ url_for('add') }}">Add um livro novo</a>
</body>
</html>